<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Profile</title>

    <!-- TODO:
            Follow/unfollow done
            Show follower/following people(if viewing own profile) -- need to reconstruct layout
            List all comics created by this user(Show edit and delete button if admin or viewing own profile)
            Show favorite list(Hide private folder if viewing other's profile)
            Series following  -->
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./js/js.cookie.js"></script>
    <script src="./js/profile.js"></script>
    <script src="./js/jumpFunction.js"></script>


</head>

<body>
    <div id = "wrap">
        <div class="regbar">
            <div class = "regbar-left" style="width:30%">
                    <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
            </div>
            <div class = "regbar-mid" align="center">
                <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
                <select class="selectType" id="search_by" name="search_by">
                    <option value="keyword">By Keyword</option>
                    <option value="author">By Author</option>
                </select>
                <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
            </div>

            <div class = "regbar-right" style = "margin-top:7px;">
                <input type="image" src = "./img/create.png" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
                <input type="image" src = "./img/home.png" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
                <input type="image" src = "./img/message.png" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
                <input type="image" src = "./img/profile.png" id="profile" style = "margin-right:3px;"  height = "35px"onclick="goProfile();" >
                <input type="image" src = "./img/setting.png" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
                <input type="image" src = "./img/sign-in.png" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
                <input type="image" src = "./img/sign-out.png" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
            </div>




        </div>
    </div>

    <div>
        <br>
        <table>
            <tr>
                <td>
                    <img src = "./img/test/oldpp.jpg" id="profilepicture" style = "margin-left:25px;margin-right:25px;" width = "170px" height = "170px">
                </td>
                <td>
                    <span style = "font-size: 27px;" id = "profileusername"></span>
                    <br>
                    <span style = "font-size: 25px;" id = "followings" onclick = "showFollowings();"></span>
                    <span style = "font-size: 25px;"> | </span>
                    <span style = "font-size: 25px;" id = "followers" onclick = "showFollowers();">23,645 Followers</span>
                    <p style = "font-size: 25px;">1,345,391 Views | 38,691 Likes</p>
                    <button type="button" class="submitButton" style = "border-radius: 5px;" id="follow" onclick="followUser();">Follow</button>
                    <button type="button" class="unfollowButton" style = "border-radius: 5px;display:none;" id="unfollow" onclick="unfollowUser();">Unfollow</button>
                </td>

            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <span style = "font-size:25px;margin-left:23px;color:#0688fa;" id = "comicsbtn" onclick="showComics()">Comics</span>
                    <span style = "font-size:25px;margin-left:23px;"> | </span>
                    <span style = "font-size:25px;margin-left:23px;" id="favoritebtn" onclick="showFavorite()">Favorites</span>
                    <span style = "font-size:25px;margin-left:23px;"> | </span>
                    <span style = "font-size:25px;margin-left:23px;" id="seriesbtn" onclick="showSeries()">Series following</span>
                </td>
            </tr>
        </table>
        <table id="comicstb">
            <tr>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/1.jpg" style = "width:20vw;margin-left:2.5vw;" onclick="document.location.href='viewComics.html';">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Title</span>
                    <input type="image" src = "./img/delete.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <input type="image" src = "./img/edit-button.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/1.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Title</span>
                    <input type="image" src = "./img/delete.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <input type="image" src = "./img/edit-button.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/1.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <img src="./img/series-icon.png" style = "margin-left:2.5vw;float:left;margin-top:5px;" width="19px">
                    <span style = "font-size:20px;">Comic Title</span>
                    <input type="image" src = "./img/delete.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <input type="image" src = "./img/edit-button.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/1.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Title</span>
                    <input type="image" src = "./img/delete.png" style = "margin-right:10%;float:right;" width = "25px" height = "25px">
                    <input type="image" src = "./img/edit-button.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <br>
                </td>
            </tr>
            <tr>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/1.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Title</span>
                    <input type="image" src = "./img/delete.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                    <input type="image" src = "./img/edit-button.png" style = "margin-right:5px;float:right;" width = "25px" height = "25px">
                </td>
            </tr>
        </table>

        <table id="favoritetb" style = "display:none;"></table>

        <table id="seriestb" style="display:none;">
            <tr>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/2.jpg" style = "width:20vw;margin-left:2.5vw;" onclick="document.location.href='viewSeries.html';">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Series Title</span>                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/2.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Series Title</span>                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/2.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Series Title</span>                    <br>
                </td>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/2.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Series Title</span>                    <br>
                </td>
            </tr>
            <tr>
                <td style = "width:23vw;padding-top:15px;">
                    <img src="./img/t/2.jpg" style = "width:20vw;margin-left:2.5vw;">
                    <br>
                    <span style = "font-size:20px;margin-left:2.5vw;">Comic Series Title</span>
                </td>
            </tr>
        </table>
        </div>

        <table id="followingtb" style="display:none;border-collapse:separate; border-spacing:0px 10px;">
            <!-- <tr>
                <td>
                    <img src = "./img/test/newpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">magicMaster994</span>
                </td>
                <td>
                    <img src = "./img/test/oldpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">magicMaster993</span>
                </td>
            </tr>
            <tr>
                <td>
                    <img src = "./img/test/oldpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">magicMaster995</span>
                </td>
                <td>
                    <img src = "./img/test/newpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">magicMaster992</span>
                </td>
            </tr> -->
        </table>
        <table id="followertb" style="display:none;border-collapse:separate; border-spacing:0px 10px;">
            <!-- <tr>
                <td>
                    <img src = "./img/test/oldpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">crazyArtist1024</span>
                </td>
                <td>
                    <img src = "./img/test/newpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">crazyArtist2048</span>
                </td>
            </tr>
            <tr>
                <td>
                    <img src = "./img/test/newpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">crazyArtist4096</span>
                </td>
                <td>
                    <img src = "./img/test/oldpp.jpg" style="margin-left:2.5vw;" height="70px">
                </td>
                <td>
                    <span style = "font-size:35px;">crazyArtist8192</span>
                </td>
            </tr> -->
        </table>
    <script>
        if($.cookie('role')=="user"){
            document.getElementById("login").style.display = "none";
        }else{
            document.getElementById("create").style.display = "none";
            document.getElementById("signout").style.display = "none";
            document.getElementById("message").style.display = "none";
            document.getElementById("profile").style.display = "none";
            document.getElementById("setting").style.display = "none";
        }
        var p = $.cookie('profileUsername');
        console.log("profileUsername: " + p);
        document.getElementById("profileusername").innerText = $.cookie('profileUsername');

        var c = getFollowings(p);
        document.getElementById("followings").innerText = c + " Followings";
        var c = getFollowers(p);
        document.getElementById("followers").innerText = c + " Followers";

        if(checkFollow()){
            document.getElementById("follow").style.display = "none";
            document.getElementById("unfollow").style.display = "initial";
        }else{
            document.getElementById("unfollow").style.display = "none";
            document.getElementById("follow").style.display = "initial";
        }


        if($.cookie("username")==$("#profileusername").text()){
            document.getElementById("unfollow").style.display = "none";
            document.getElementById("follow").style.display = "none";

            $(window).ready(function() {
                var followerlist = getFollowerList($.cookie('profileUsername'));
                var followinglist = getFollowingList($.cookie('profileUsername'));
                console.log(followerlist.account[0]);

                // follower table
                var tbodyfollower = document.getElementById("followertb");
                for(let i=0;i<followerlist.account.length;i+=3){
                    var tr = document.createElement('tr');
                    tr.style.width = "100%";
                    tbodyfollower.appendChild(tr);
                    var td11 = document.createElement('td');
                    var td12 = document.createElement('td');
                    tr.appendChild(td11);
                    tr.appendChild(td12);
                    var img1 = document.createElement('img');
                    img1.src = followerlist.picpath[i];
                    img1.style.marginLeft = "2.5vw";
                    img1.style.height = "70px";
                    img1.style.width = "70px";
                    td11.appendChild(img1);
                    var span1 = document.createElement('span');
                    span1.style.fontSize = "35px";
                    var t = document.createTextNode(followerlist.account[i]);
                    span1.appendChild(t);
                    td12.appendChild(span1);

                    // i=1, second one
                    var td21 = document.createElement('td');
                    var td22 = document.createElement('td');
                    tr.appendChild(td21);
                    tr.appendChild(td22);
                    if(i+1<followerlist.account.length){
                        var img2 = document.createElement('img');
                        img2.src = followerlist.picpath[i+1];
                        img2.style.marginLeft = "2.5vw";
                        img2.style.height = "70px";
                        img2.style.width = "70px";
                        td21.appendChild(img2);
                        var span2 = document.createElement('span');
                        span2.style.fontSize = "35px";
                        var t = document.createTextNode(followerlist.account[i+1]);
                        span2.appendChild(t);
                        td22.appendChild(span2);
                    }

                    // i=2, third one
                    var td31 = document.createElement('td');
                    var td32 = document.createElement('td');
                    tr.appendChild(td31);
                    tr.appendChild(td32);
                    if(i+2<followerlist.account.length){
                        var img3 = document.createElement('img');
                        img3.src = followerlist.picpath[i+2];
                        img3.style.marginLeft = "2.5vw";
                        img3.style.height = "70px";
                        img3.style.width = "70px";
                        td31.appendChild(img3);
                        var span3 = document.createElement('span');
                        span3.style.fontSize = "35px";
                        var t = document.createTextNode(followerlist.account[i+2]);
                        span3.appendChild(t);
                        td32.appendChild(span3);
                    }
                }

                // following table
                var tbodyfollowing = document.getElementById("followingtb");
                for(let i=0;i<followinglist.account.length;i+=3){
                    var tr = document.createElement('tr');
                    tr.style.width = "100%";
                    tbodyfollowing.appendChild(tr);
                    var td11 = document.createElement('td');
                    var td12 = document.createElement('td');
                    tr.appendChild(td11);
                    tr.appendChild(td12);
                    var img1 = document.createElement('img');
                    img1.src = followinglist.picpath[i];
                    img1.style.marginLeft = "2.5vw";
                    img1.style.height = "70px";
                    img1.style.width = "70px";
                    td11.appendChild(img1);
                    var span1 = document.createElement('span');
                    span1.style.fontSize = "35px";
                    var t = document.createTextNode(followinglist.account[i]);
                    span1.appendChild(t);
                    td12.appendChild(span1);

                    // i=1, second one
                    var td21 = document.createElement('td');
                    var td22 = document.createElement('td');
                    tr.appendChild(td21);
                    tr.appendChild(td22);
                    if(i+1<followinglist.account.length){
                        var img2 = document.createElement('img');
                        img2.src = followinglist.picpath[i+1];
                        img2.style.marginLeft = "2.5vw";
                        img2.style.height = "70px";
                        img2.style.width = "70px";
                        td21.appendChild(img2);
                        var span2 = document.createElement('span');
                        span2.style.fontSize = "35px";
                        var t = document.createTextNode(followinglist.account[i+1]);
                        span2.appendChild(t);
                        td22.appendChild(span2);
                    }

                    // i=2, third one
                    var td31 = document.createElement('td');
                    var td32 = document.createElement('td');
                    tr.appendChild(td31);
                    tr.appendChild(td32);
                    if(i+2<followinglist.account.length){
                        var img3 = document.createElement('img');
                        img3.src = followinglist.picpath[i+2];
                        img3.style.marginLeft = "2.5vw";
                        img3.style.height = "70px";
                        img3.style.width = "70px";
                        td31.appendChild(img3);
                        var span3 = document.createElement('span');
                        span3.style.fontSize = "35px";
                        var t = document.createTextNode(followinglist.account[i+2]);
                        span3.appendChild(t);
                        td32.appendChild(span3);
                    }
                }
            });
        }else{
            // document.getElementById("follow").disabled = true;
            // document.getElementById("unfollow").disabled = true;
            document.getElementById("followings").onclick = false;
            document.getElementById("followers").onclick = false;
            console.log("doesnt work");
        }

        if($.cookie("username")==$("#profileusername").text()){
            $(window).ready(function() {
                var tb = document.getElementById("favoritetb");
                var folders = getMyFavorites($("#profileusername").text());
                console.log(folders);
                for(var i = 0; i<folders.folderName.length; i+=4){
                    var tr = document.createElement('tr');
                    tb.appendChild(tr);
                    for(let j = i; j < i+4 && j < folders.folderName.length; j++){
                        var td = document.createElement('td');
                        td.style.width = "23vw";
                        td.style.paddingTop = "15px";
                        tr.appendChild(td);
                        var img = document.createElement('img');
                        td.appendChild(img);
                        img.src = "./img/folder.png";
                        img.style.width = "20vw";
                        img.style.marginLeft = "2.5vw";
                        img.addEventListener('click', function() {
                            favoriteRedirect(folders.folderId[j]);
                        });
                        console.log(folders.folderId[j]);
                        var br1 = document.createElement('br');
                        td.appendChild(br1);
                        var span = document.createElement('span');
                        var t = document.createTextNode(folders.folderName[j]);
                        span.appendChild(t);
                        td.appendChild(span);
                        span.style.fontSize = "20px";
                        span.style.marginLeft = "4.5vw";
                        var br2 = document.createElement('br');
                        td.appendChild(br2);
                    }

                }
            });
        }else{
            $(window).ready(function() {
                var tb = document.getElementById("favoritetb");
                var folders = getPublicFavorites($("#profileusername").text());
                console.log(folders);
                for(var i = 0; i<folders.folderName.length; i+=4){
                    var tr = document.createElement('tr');
                    tb.appendChild(tr);
                    for(let j = i; j < i+4 && j < folders.folderName.length; j++){
                        var td = document.createElement('td');
                        td.style.width = "23vw";
                        td.style.paddingTop = "15px";
                        tr.appendChild(td);
                        var img = document.createElement('img');
                        td.appendChild(img);
                        img.src = "./img/folder.png";
                        img.style.width = "20vw";
                        img.style.marginLeft = "2.5vw";
                        img.addEventListener('click', function() {
                            favoriteRedirect(folders.folderId[j]);
                        });
                        console.log(folders.folderId[j]);
                        var br1 = document.createElement('br');
                        td.appendChild(br1);
                        var span = document.createElement('span');
                        var t = document.createTextNode(folders.folderName[j]);
                        span.appendChild(t);
                        td.appendChild(span);
                        span.style.fontSize = "20px";
                        span.style.marginLeft = "4.5vw";
                        var br2 = document.createElement('br');
                        td.appendChild(br2);
                    }

                }
            });
        }

        if($.cookie("username")==$("#profileusername").text()){
            $(window).ready(function() {
                var tb = document.getElementById("seriestb");
                var series = getSeries($("#profileusername").text());
                console.log(series);
                // for(var i = 0; i<folders.folderName.length; i+=4){
                //     var tr = document.createElement('tr');
                //     tb.appendChild(tr);
                //     for(let j = i; j < i+4 && j < folders.folderName.length; j++){
                //         var td = document.createElement('td');
                //         td.style.width = "23vw";
                //         td.style.paddingTop = "15px";
                //         tr.appendChild(td);
                //         var img = document.createElement('img');
                //         td.appendChild(img);
                //         img.src = "./img/folder.png";
                //         img.style.width = "20vw";
                //         img.style.marginLeft = "2.5vw";
                //         img.addEventListener('click', function() {
                //             favoriteRedirect(folders.folderId[j]);
                //         });
                //         console.log(folders.folderId[j]);
                //         var br1 = document.createElement('br');
                //         td.appendChild(br1);
                //         var span = document.createElement('span');
                //         var t = document.createTextNode(folders.folderName[j]);
                //         span.appendChild(t);
                //         td.appendChild(span);
                //         span.style.fontSize = "20px";
                //         span.style.marginLeft = "4.5vw";
                //         var br2 = document.createElement('br');
                //         td.appendChild(br2);
                //     }

                // }
            });
        }else{
            $(window).ready(function() {
                var tb = document.getElementById("favoritetb");
                var folders = getPublicFavorites($("#profileusername").text());
                console.log(folders);
                for(var i = 0; i<folders.folderName.length; i+=4){
                    var tr = document.createElement('tr');
                    tb.appendChild(tr);
                    for(let j = i; j < i+4 && j < folders.folderName.length; j++){
                        var td = document.createElement('td');
                        td.style.width = "23vw";
                        td.style.paddingTop = "15px";
                        tr.appendChild(td);
                        var img = document.createElement('img');
                        td.appendChild(img);
                        img.src = "./img/folder.png";
                        img.style.width = "20vw";
                        img.style.marginLeft = "2.5vw";
                        img.addEventListener('click', function() {
                            favoriteRedirect(folders.folderId[j]);
                        });
                        console.log(folders.folderId[j]);
                        var br1 = document.createElement('br');
                        td.appendChild(br1);
                        var span = document.createElement('span');
                        var t = document.createTextNode(folders.folderName[j]);
                        span.appendChild(t);
                        td.appendChild(span);
                        span.style.fontSize = "20px";
                        span.style.marginLeft = "4.5vw";
                        var br2 = document.createElement('br');
                        td.appendChild(br2);
                    }

                }
            });
        }

        function showComics(){
            document.getElementById("favoritetb").style.display = "none";
            document.getElementById("seriestb").style.display = "none";
            document.getElementById("followingtb").style.display = "none";
            document.getElementById("followertb").style.display = "none";
            document.getElementById("comicstb").style.display = "initial";
            document.getElementById("comicsbtn").style.color = "#0688fa";
            document.getElementById("favoritebtn").style.color = "#FFFFFF";
            document.getElementById("seriesbtn").style.color = "#FFFFFF";
            document.getElementById("followings").style.color = "#FFFFFF";
            document.getElementById("followers").style.color = "#FFFFFF";
            
        }

        function showFavorite(){
            document.getElementById("comicstb").style.display = "none";
            document.getElementById("seriestb").style.display = "none";
            document.getElementById("followingtb").style.display = "none";
            document.getElementById("followertb").style.display = "none";
            document.getElementById("favoritetb").style.display = "initial";
            document.getElementById("comicsbtn").style.color = "#FFFFFF";
            document.getElementById("seriesbtn").style.color = "#FFFFFF";
            document.getElementById("favoritebtn").style.color = "#0688fa";
            document.getElementById("followings").style.color = "#FFFFFF";
            document.getElementById("followers").style.color = "#FFFFFF";
        }

        function showSeries(){
            document.getElementById("comicstb").style.display = "none";
            document.getElementById("favoritetb").style.display = "none";
            document.getElementById("followingtb").style.display = "none";
            document.getElementById("followertb").style.display = "none";
            document.getElementById("seriestb").style.display = "initial";
            document.getElementById("comicsbtn").style.color = "#FFFFFF";
            document.getElementById("seriesbtn").style.color= "#0688fa";
            document.getElementById("favoritebtn").style.color = "#FFFFFF";
            document.getElementById("followings").style.color = "#FFFFFF";
            document.getElementById("followers").style.color = "#FFFFFF";
        }

        function showFollowings(){
            document.getElementById("comicstb").style.display = "none";
            document.getElementById("favoritetb").style.display = "none";
            document.getElementById("seriestb").style.display = "none";
            document.getElementById("followertb").style.display = "none";
            document.getElementById("followingtb").style.display = "initial";
            document.getElementById("comicsbtn").style.color = "#FFFFFF";
            document.getElementById("seriesbtn").style.color= "#FFFFFF";
            document.getElementById("favoritebtn").style.color = "#FFFFFF";
            document.getElementById("followings").style.color = "#0688fa";
            document.getElementById("followers").style.color = "#FFFFFF";
        }

        function showFollowers(){
            document.getElementById("comicstb").style.display = "none";
            document.getElementById("favoritetb").style.display = "none";
            document.getElementById("seriestb").style.display = "none";
            document.getElementById("followingtb").style.display = "none";
            document.getElementById("followertb").style.display = "initial";
            document.getElementById("comicsbtn").style.color = "#FFFFFF";
            document.getElementById("seriesbtn").style.color= "#FFFFFF";
            document.getElementById("favoritebtn").style.color = "#FFFFFF";
            document.getElementById("followings").style.color = "#FFFFFF";
            document.getElementById("followers").style.color = "#0688fa";
        }


    </script>
</body>

</html>
