<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Search Result Page</title>
    <!-- TODO:
            By author   -- Profile picture and followers                                                        (FINISHED)
                        -- Onclick to go to the specific profile page(store the author's username to cookie)    (FINISHED)
            By keyword  -- Default regular comics, can select series comics
                        -- Sort by views, likes and name -->

    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="../js/js.cookie.js"></script>
    <script src="../js/jumpFunction.js"></script>
    <script src="../js/comicSort.js"></script>


</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
            <select class="selectType" id="search_by" name="search_by">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
        </div>




        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "./img/create.png" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
            <input type="image" src = "./img/home.png" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "./img/message.png" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
            <input type="image" src = "./img/profile.png" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
            <input type="image" src = "./img/setting.png" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
            <input type="image" src = "./img/sign-in.png" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "./img/sign-out.png" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
        </div>
    </div>
</div>

<div class="searchResult" style="margin-left: 5%; margin-right: 5%">

    <div style="height: 100%; text-align:left; padding-top:10px">

        <div style="float: left;height:100%; font-size:35px;">
            <span>Results of </span>
            <span id="rst" style="color:lightskyblue"></span>
            <span>:</span>
        </div>

        <div id="keywordsortby" style="display:none; float:right; height:100%; font-size:20px; padding-top: 15px">
                <select class="sortBy" id="sort_by" name="sort_by" onchange = "refreshTable()">
                    <option value="view">Views</option>
                    <option value="like">Likes</option>
                    <option value="nameA">Name: A to Z</option>
                </select>
        </div>

        <div id="series_regular" style="display:none; float:right; height:100%; font-size:20px; padding-top: 15px">
            <select class="sortBy" id="series_regular_view" name="sort_by" style="margin-right: 20px;" onchange ="getTable()">
                <option value="regular">View Regular Comic</option>
                <option value="series" id = "selectseries">View Series Comic</option>
            </select>
        </div>

    </div>
    <br><br><hr style="margin-top: 40px">

    <div id="authorresult" class="searchResultTable" style="display: none;">
        <div>
            <table class="searchResultTable" id="author_result_table" style="font-size: 23px; width: 100%;">
            </table>
            <div style="float: left;height:100%; font-size:30px; display: none;" id="authorEmpty">
                <span>No Result Found...</span>
            </div>
        </div>

        <!-- <div class="pageTurn" style="text-align: center; font-size: 15px">
            <hr style="margin-bottom: 0px">
            <ul class="pagination">
                <li>&laquo;</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>&raquo;</li>
            </ul>
            <hr style="margin-top: 0px">

        </div> -->
    </div>


    <div id="keywordresult" class="searchResultTable" style="display: none;">
        <div>
        <table class="searchResultTable" id="search_result_table" style="font-size: 16px">
            <!-- <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr> -->
        </table>
        </div>

        <!--<div class="pageTurn" style="text-align: center; font-size: 15px">
            <hr style="margin-bottom: 0px">
            <ul class="pagination">
                <li>&laquo;</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>&raquo;</li>
            </ul>
            <hr style="margin-top: 0px">

        </div>-->


    </div>


<script>
    getTable();
    
    var kw = $.cookie('search_word');
    if(kw!=""){
        document.getElementById("rst").innerText = "\"" + kw + "\"";
        // document.location.href="./searchResult.html";
    }
    var by = $.cookie('search_by');
    console.log(by);
    if(by=="author"){
        document.getElementById("authorresult").style.display = "block";
        document.getElementById("series_regular").style.display = "none";
        document.getElementById("keywordsortby").style.display = "none";
        document.getElementById("keywordresult").style.display = "none";
        $(window).ready(function() {
            $.ajax({
                url: "searchResult.html/author",
                type: "post",
                async: false,
                data: {author: kw},
                success: function (data) {
                    var tbody = document.getElementById("author_result_table");
                    var obj = jQuery.parseJSON(data);
                    if(obj.account.length==0){
                        document.getElementById("authorEmpty").style.display = "block";
                    }else{
                        document.getElementById("authorEmpty").style.display = "none";
                    }
                    for (let i = 0; i < obj.account.length; i+=3) {
                        // (function () {
                        var tr = document.createElement('TR');
                        tr.style.width = "100%";
                        tbody.appendChild(tr);

                        // i = 0, first one
                        var td1 = document.createElement('TD');
                        td1.style.width = "33.3%";
                        td1.style.paddingBottom = "20px";
                        tr.appendChild(td1);
                        var divBig1 = document.createElement('DIV');
                        divBig1.addEventListener('click', function() {
                            authorprofile(obj.account[i]);
                        });
                        divBig1.classList.add("profileCard");
                        divBig1.style.width = "93.93%";
                        divBig1.style.display = "flex";
                        td1.appendChild(divBig1);
                        // img photo here
                        var divImg1 = document.createElement('DIV');
                        divImg1.style.width = "38.2%";
                        divImg1.style.paddingTop = "38.2%";
                        divImg1.style.position = "relative";
                        var img1 = document.createElement('img');
                        img1.src = obj.picpath[i];
                        img1.style.width = "100%";
                        img1.style.height = "100%";
                        img1.style.position = "absolute";
                        img1.style.top = "0";
                        divImg1.appendChild(img1);
                        // other info here
                        var divinfo1 = document.createElement('div');
                        divinfo1.style.width = "61.8%";
                        divinfo1.style.marginLeft = "6.8%"
                        var span_author1 = document.createElement('span');
                        var t = document.createTextNode(obj.account[i]);
                        span_author1.appendChild(t);
                        var span_follower1 = document.createElement('span');
                        var t = document.createTextNode(obj.followers[i]);
                        span_follower1.appendChild(t);
                        divinfo1.appendChild(span_author1);
                        divinfo1.appendChild(document.createElement('br'));
                        divinfo1.appendChild(span_follower1);
                        divinfo1.appendChild(document.createElement('span').appendChild(document.createTextNode(" follower")));
                        // add to divBig1
                        divBig1.appendChild(divImg1);
                        divBig1.appendChild(divinfo1);

                        // i = 1, second one
                        var td2 = document.createElement('TD');
                        td2.style.width = "33.3%";
                        td2.style.paddingBottom = "20px";
                        tr.appendChild(td2);
                        if(i+1<obj.account.length){
                            var divBig2 = document.createElement('DIV');
                            divBig2.addEventListener('click', function(){
                                authorprofile(obj.account[i+1]);
                            });
                            divBig2.classList.add("profileCard");
                            divBig2.style.width = "93.93%";
                            divBig2.style.display = "flex";
                            divBig2.style.marginLeft = "3.03%";
                            td2.appendChild(divBig2);
                            // img photo here
                            var divImg2 = document.createElement('DIV');
                            divImg2.style.width = "38.2%";
                            divImg2.style.paddingTop = "38.2%";
                            divImg2.style.position = "relative";
                            var img2 = document.createElement('img');
                            img2.src = obj.picpath[i+1];
                            console.log("img src = " + img2.src);
                            img2.style.width = "100%";
                            img2.style.height = "100%";
                            img2.style.position = "absolute";
                            img2.style.top = "0";
                            divImg2.appendChild(img2);
                            // other info here
                            var divinfo2 = document.createElement('div');
                            divinfo2.style.width = "61.8%";
                            divinfo2.style.marginLeft = "6.8%"
                            var span_author2 = document.createElement('span');
                            var t = document.createTextNode(obj.account[i+1]);
                            span_author2.appendChild(t);
                            var span_follower2 = document.createElement('span');
                            var t = document.createTextNode(obj.followers[i+1]);
                            span_follower2.appendChild(t);
                            divinfo2.appendChild(span_author2);
                            divinfo2.appendChild(document.createElement('br'));
                            divinfo2.appendChild(span_follower2);
                            divinfo2.appendChild(document.createElement('span').appendChild(document.createTextNode(" follower")));
                            // add to divBig2
                            divBig2.appendChild(divImg2);
                            divBig2.appendChild(divinfo2);
                        }

                        // i = 2, first one
                        var td3 = document.createElement('TD');
                        td3.style.width = "33.3%";
                        td3.style.paddingBottom = "20px";
                        tr.appendChild(td3);

                        if(i+2<obj.account.length){
                            var divBig3 = document.createElement('DIV');
                            divBig3.addEventListener('click', function(){
                                authorprofile(obj.account[i+2]);
                            });
                            divBig3.classList.add("profileCard");
                            divBig3.style.width = "93.93%";
                            divBig3.style.display = "flex";
                            divBig3.style.cssFloat = "right";
                            td3.appendChild(divBig3);
                            // img photo here
                            var divImg3 = document.createElement('DIV');
                            divImg3.style.width = "38.2%";
                            divImg3.style.paddingTop = "38.2%";
                            divImg3.style.position = "relative";
                            var img3 = document.createElement('img');
                            img3.src = obj.picpath[i+2];
                            console.log("img src = " + img3.src);
                            img3.style.width = "100%";
                            img3.style.height = "100%";
                            img3.style.position = "absolute";
                            img3.style.top = "0";
                            divImg3.appendChild(img3);
                            // other info here
                            var divinfo3 = document.createElement('div');
                            divinfo3.style.width = "61.8%";
                            divinfo3.style.marginLeft = "6.8%"
                            var span_author3 = document.createElement('span');
                            var t = document.createTextNode(obj.account[i+2]);
                            span_author3.appendChild(t);
                            var span_follower3 = document.createElement('span');
                            var t = document.createTextNode(obj.followers[i+2]);
                            span_follower3.appendChild(t);
                            divinfo3.appendChild(span_author3);
                            divinfo3.appendChild(document.createElement('br'));
                            divinfo3.appendChild(span_follower3);
                            divinfo3.appendChild(document.createElement('span').appendChild(document.createTextNode(" follower")));
                            // add to divBig3
                            divBig3.appendChild(divImg3);
                            divBig3.appendChild(divinfo3);
                        }

                    // }());

                    }
                }
            });
            // }
        });
    }

    if(by=="keyword" && document.getElementById('selectseries').selected == false) {
        document.getElementById("keywordsortby").style.display = "block";
        document.getElementById("series_regular").style.display = "block";
        // checksortby();
        document.getElementById("keywordresult").style.display = "block";
        document.getElementById("authorresult").style.display = "none";
        var sort = "1";
        $(window).ready(function () {
            // checksortby();
            $.ajax({
                url: "searchResult.html/keyword",
                type: "post",
                async: false,
                data: {keyword: kw,sorted: sort},
                success: function (data) {
                    // checksortby();
                    console.log(data);
                    var obj = jQuery.parseJSON(data);
                    var tbody = document.getElementById("search_result_table");
                    tbody.innerHTML = "";
                    if (obj.TPALV.length == 0) {
                        document.getElementById("authorEmpty").style.display = "block";
                    } else {
                        document.getElementById("authorEmpty").style.display = "none";
                    }
                    for (let i = 0; i < obj.TPALV.length; i += 3) {
                        var tr = document.createElement('TR');
                        tbody.appendChild(tr);

                        // i = 0, first one
                        var td1 = document.createElement('TD');
                        var img1 = document.createElement('img');
                        img1.src = obj["TPALV"][i].picPath;
                        td1.appendChild(img1);
                        img1.style.width = "17.6vw";
                        img1.style.height = "9.9vw";                 
                        img1.style.cursor = "pointer";
                        img1.addEventListener('click', function () {
                            goViewComic(obj["TPALV"][i].comicID);
                        });
                        var td2 = document.createElement('TD');
                        // td2.style.marginLeft = "0.2vw";
                        td2.style = "padding-right: 20px; padding-bottom: 40px; width:12vw; word-wrap: break-word; height: 9.9vw;";
                        var span_title = document.createElement('p');
                        var t = document.createTextNode(obj["TPALV"][i].title);
                        span_title.appendChild(t);
                        span_title.addEventListener('click', function () {
                            goViewComic(obj["TPALV"][i].comicID);
                        });
                        span_title.style.width = "11vw";
                        span_title.style.cursor = "pointer";
                        var span_author1 = document.createElement('span');
                        span_author1.style.cursor = "pointer";
                        span_author1.addEventListener('click', function () {
                            authorprofile(obj["TPALV"][i].author);
                        });
                        var t = document.createTextNode(obj["TPALV"][i].author);
                        span_author1.appendChild(t);
                        var span_likes = document.createElement('p');
                        var t = document.createTextNode("Likes: " + obj["TPALV"][i].likes);
                        span_likes.append(t);
                        var span_views = document.createElement('p');
                        var t = document.createTextNode("Views: " + obj["TPALV"][i].views);
                        span_views.append(t);
                        td2.appendChild(span_title);
                        td2.appendChild(span_author1);
                        td2.appendChild(span_likes);
                        td2.appendChild(span_views);
                        tr.appendChild(td1);
                        tr.appendChild(td2);

                        //divinfo1.appendChild(span_author1);
                        //divinfo1.appendChild(document.createElement('br'));
                        //divinfo1.appendChild(span_follower1);
                        //divinfo1.appendChild(document.createElement('span').appendChild(document.createTextNode(" follower")));
                        // add to divBig1
                        //divBig1.appendChild(divImg1);
                        //divBig1.appendChild(divinfo1);

                        // i = 1, second one
                        var td2 = document.createElement('TD');
                        tr.appendChild(td2);
                        if (i + 1 < obj.TPALV.length) {
                            var td1 = document.createElement('TD');
                            var img1 = document.createElement('img');
                            img1.style.width = "17.6vw";
                            img1.style.height = "9.9vw";                 
                            img1.style.cursor = "pointer";
                            img1.src = obj["TPALV"][i+1].picPath;
                            td1.appendChild(img1);
                            img1.addEventListener('click', function () {
                                goViewComic(obj["TPALV"][i+1].comicID);
                            });
                            var td2 = document.createElement('TD');
                            td2.style = "padding-right: 20px; padding-bottom: 40px; width:12vw; word-wrap: break-word; height: 9.9vw;";
                            var span_title = document.createElement('p');
                            var t = document.createTextNode(obj["TPALV"][i+1].title);
                            span_title.appendChild(t);   
                            span_title.addEventListener('click', function () {
                                goViewComic(obj["TPALV"][i+1].comicID);
                            });                         
                            span_title.style.width = "11vw";
                            span_title.style.cursor = "pointer";
                            var span_author1 = document.createElement('span');
                            span_author1.style.cursor = "pointer";
                            //span_author1.addEventListener("click",authorprofile(obj["TPALV"][i].author));
                            span_author1.addEventListener('click', function () {
                                authorprofile(obj["TPALV"][i+1].author);
                            });
                            var t = document.createTextNode(obj["TPALV"][i+1].author);
                            span_author1.appendChild(t);
                            var span_likes = document.createElement('p');
                            var t = document.createTextNode("Likes: " + obj["TPALV"][i+1].likes);
                            span_likes.append(t);
                            var span_views = document.createElement('p');
                            var t = document.createTextNode("Views: " + obj["TPALV"][i+1].views);
                            span_views.append(t);
                            td2.appendChild(span_title);
                            td2.appendChild(span_author1);
                            td2.appendChild(span_likes);
                            td2.appendChild(span_views);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                        }

                        // i = 2, first one
                        var td3 = document.createElement('TD');
                        tr.appendChild(td3);

                        if (i + 2 < obj.TPALV.length) {
                            var td1 = document.createElement('TD');
                            var img1 = document.createElement('img');
                            img1.style.width = "17.6vw";
                            img1.style.height = "9.9vw";                 
                            img1.style.cursor = "pointer";
                            img1.src = obj["TPALV"][i+2].picPath;
                            td1.appendChild(img1);
                            img1.addEventListener('click', function () {
                                goViewComic(obj["TPALV"][i+2].comicID);
                            });
                            var td2 = document.createElement('TD');
                            td2.style = "padding-right: 20px; padding-bottom: 40px; width:11vw; word-wrap: break-word; height: 9.9vw;";
                            var span_title = document.createElement('p');
                            var t = document.createTextNode(obj["TPALV"][i+2].title);
                            span_title.appendChild(t);
                            span_title.addEventListener('click', function () {
                                goViewComic(obj["TPALV"][i+2].comicID);
                            });
                            span_title.style.width = "11vw";
                            span_title.style.cursor = "pointer";
                            var span_author1 = document.createElement('span');
                            span_author1.style.cursor = "pointer";  
                            //span_author1.addEventListener("click",authorprofile(obj["TPALV"][i].author));
                            span_author1.addEventListener('click', function () {
                                authorprofile(obj["TPALV"][i+2].author);
                            });
                            var t = document.createTextNode(obj["TPALV"][i+2].author);
                            span_author1.appendChild(t);
                            var span_likes = document.createElement('p');
                            var t = document.createTextNode("Likes: " + obj["TPALV"][i+2].likes);
                            span_likes.append(t);
                            var span_views = document.createElement('p');
                            var t = document.createTextNode("Views: " + obj["TPALV"][i+2].views);
                            span_views.append(t);
                            td2.appendChild(span_title);
                            td2.appendChild(span_author1);
                            td2.appendChild(span_likes);
                            td2.appendChild(span_views);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                        }
                    }
                }
        });
        });
    }
    if(by=="keyword" && document.getElementById('selectseries').selected == true){
        $(window).ready(function () {
            document.getElementById("keywordsortby").style.display = "block";
            document.getElementById("series_regular").style.display = "block";
            // checksortby();
            document.getElementById("keywordresult").style.display = "block";
            document.getElementById("authorresult").style.display = "none";
            checksortby();
            getSeriesTable();
        });
    }
</script>



</div>




<script>
    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
    }else{
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("setting").style.display = "none";
    }
</script>
</body>

</html>
