<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <title>CoTube Log in</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./js/js.cookie.js"></script>

</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" >
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="searchWord" size="35" placeholder="Input for searching...">
            <select class="selectType" name="searchBy">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px;" width = "35px" height = "35px">
        </div>
        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "./img/create.png" id="create" style = "margin-right:3px;" width = "35px" height = "35px">
            <input type="image" src = "./img/home.png" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "./img/message.png" id="message" style = "margin-right:3px;"  height = "35px">
            <input type="image" src = "./img/profile.png" id="profile" style = "margin-right:3px;"  height = "35px">
            <input type="image" src = "./img/sign-in.png" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "./img/sign-out.png" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
        </div>

    </div>
</div>

<div>
    <h1 style="text-align:center">View Comics By Title</h1>
    <div style="clear: both;">
        <h2>click to jump: </h2>

        <a href="#a" class="alpabet">A</a>
        <a href="#b" class="alpabet">B</a>
        <a href="#c" class="alpabet">C</a>
        <a href="#d" class="alpabet">D</a>
        <a href="#e" class="alpabet">E</a>
        <a href="#f" class="alpabet">F</a>
        <a href="#g" class="alpabet">G</a>
        <a href="#h" class="alpabet">H</a>
        <a href="#i" class="alpabet">I</a>
        <a href="#j" class="alpabet">G</a>
        <a href="#k" class="alpabet">K</a>
        <a href="#l" class="alpabet">L</a>
        <a href="#m" class="alpabet">M</a>
        <a href="#n" class="alpabet">N</a>
        <br>
        <a href="#o" class="alpabet">O</a>
        <a href="#p" class="alpabet">P</a>
        <a href="#q" class="alpabet">Q</a>
        <a href="#r" class="alpabet">R</a>
        <a href="#s" class="alpabet">S</a>
        <a href="#t" class="alpabet">T</a>
        <a href="#u" class="alpabet">U</a>
        <a href="#v" class="alpabet">V</a>
        <a href="#w" class="alpabet">W</a>
        <a href="#x" class="alpabet">X</a>
        <a href="#y" class="alpabet">Y</a>
        <a href="#z" class="alpabet">Z</a>

    </div>

    <a name="a" style="padding-top:50px;">A:</a>
    <h3>something here...</h3>
    <a name="b">B:</a>
    <h3>something here...</h3>
    <a name="c">C:</a>
    <h3>something here...</h3>
    <a name="d">D:</a>
    <h3>something here...</h3>
    <a name="e">E:</a>
    <h3>something here...</h3>
    <a name="f">F:</a>
    <h3>something here...</h3>
    <h3>something here...</h3>
    <a name="g">G:</a>
    <h3>something here...</h3>
    <a name="h">H:</a>
    <h3>something here...</h3>
    <a name="i">I:</a>
    <h3>something here...</h3>
    <a name="j">J:</a>
    <h3>something here...</h3>
    <a name="k">K:</a>
    <h3>something here...</h3>
    <a name="l">L:</a>
    <h3>something here...</h3>
    <a name="m">M:</a>
    <h3>something here...</h3>
    <a name="n">N:</a>
    <a name="o">O:</a>
    <a name="p">P:</a>
    <a name="q">Q:</a>
    <a name="r">R:</a>
    <a name="s">S:</a>
    <a name="t">T:</a>
    <a name="u">U:</a>
    <a name="v">V:</a>
    <a name="w">W:</a>
    <a name="x">X:</a>
    <a name="y">Y:</a>
    <a name="z">Z:</a>

</div>


<script>
    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
    }else{
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
    }
    function gohome(){
        document.location.href="./index.html";
    }

    function login(){
        document.location.href="./login.html";
    }

    function logout(){
        $.cookie('username', null);
        $.cookie('role',"guest");
        document.location.href="./index.html";
    } 
</script>
</body>

</html>